
<div ng-if="job" id="jobcard">
  <div ng-if="tweakerstyle.jobCardLoading" class="loading">Loading&#8230;</div>
  <div ng-if="tweakerstyle.jobCardLoading" class="loadingbg"></div>

    <div class="jobinfo">
    <h2>{{job.company}}</h2>
    <h3><a href="{{job.url}}">{{job.title}}</a></h3>
  </div>
  <div class="eventlist">

    <div id="eventpane" ng-style="tweakerstyle.eventpane" >
      <div class="event" ng-repeat="event in job.events | orderBy: '-date'">
        <span class="glyphicon" ng-class="globals.eventTypes[event.typeId].icon" aria-hidden="true"></span>
        <div class="eventtitle">{{globals.eventTypes[event.typeId].label}}</div>
        {{event.typeId}}
        <p>{{event.note}}</p>
      </div>

    </div>

    </div>
      <div class="eventform">
        <event-form job="job"></event-form>
      </div>

</div>
