<div ng-cloak="" ng-controller="JobController as jobctrl" ng-init="jobctrl.getActiveJobs()">
  <!-- <div class="fixed-nav-bar" tweaker="">
    <div class="navupper"><h1>Job Dash</h1></div>
    <div class="navlower">
    </div>
  </div> -->

  <div class="full" tweaker="">
    <div class="layout__body">

      <div class="sidebar layout__nav layout__columns" ng-style="jobctrl.tweaker.sidebar">
        <div class="sideheader">
          <h4>Job Stackr</h4>
          <p>Keep your job search organized</p>
        </div>
        <job-form tweakerstyle="jobctrl.tweaker" link-api-job="jobctrl.linkApiJob"></job-form>
  <hr />
        <sidebar tweakerstyle="jobctrl.tweaker" backlog="jobctrl.backlog" today="jobctrl.today" inprocess="jobctrl.inprocess" applied="jobctrl.applied"></sidebar>

        <h5>Settings</h5>


        <a ng-click="jobctrl.toggleToolTips()">Turn Tooltips {{jobctrl.tweaker.tooltips ? "Off" : "On"}}</a><br/><br/>
        <button class="form-control btn btn-primary" ng-controller="AuthController as authctrl" ng-click="authctrl.signOut()">SIGN OUT</button>

      </div>


      <div ng-if="(jobctrl.backlog.length > 0) || (jobctrl.jobs.length > 0)" class="jobdesc layout__content" ng-style="jobctrl.tweaker.panelstyle">
        <job-card job="jobctrl.jobCard.job" tweakerstyle="jobctrl.tweaker"></job-card>
        <div ng-if="!jobctrl.jobCard.job" class="nojobcardmessage">
          <b>Click a Job to View here</b><br />
          <i>(scroll through the jobs on the left and click to view job on this area)</i>
        </div>
      </div>

      <div ng-if="(jobctrl.backlog.length > 0) || (jobctrl.jobs.length > 0)" class="joblist layout__nav layout__columns" ng-style="jobctrl.tweaker.panelstyle">
        <job-list jobs="jobctrl.currentList" currentlisttitle="jobctrl.currentListTitle"></job-list>
      </div>

      <div ng-if="!(jobctrl.backlog.length > 0) && !(jobctrl.jobs.length > 0)" class="welcome layout__content">
        <div class="message">
       <h1>Welcome</h1>
       Lets get your job search organized <br />
       start by pasting a job link into the side bar
    </div>
  </div>

    </div>
  </div>
</div>
