<div ng-cloak="" ng-controller="JobController as jobctrl" ng-init="jobctrl.getActiveJobs()">
  <!-- <div class="fixed-nav-bar" tweaker="">
    <div class="navupper"><h1>Job Dash</h1></div>
    <div class="navlower">
    </div>
  </div> -->

  <div class="full" tweaker="">
    <div class="layout__body">

      <div class="sidebar layout__nav layout__columns">
        <div class="sideheader">
          <h4>Dash Jobs</h4>
          <p>Keep your job search organized</p>
        </div>
        <sidebar tweakerstyle="jobctrl.tweaker" backlog="jobctrl.backlog" today="jobctrl.today" inprocess="jobctrl.inprocess" applied="jobctrl.applied"></sidebar>
        <job-form link-api-job="jobctrl.linkApiJob"></job-form>
        <hr />
        <h5>Settings</h5>

        <a ng-click="jobctrl.toggleToolTips()">Turn Tooltips {{jobctrl.tweaker.tooltips ? "Off" : "On"}}</a><br/><br/>
        <button class="form-control btn btn-primary" ng-controller="AuthController as authctrl" ng-click="authctrl.signOut()">SIGN OUT</button>

      </div>


      <div class="jobdesc layout__content" ng-style="jobctrl.tweaker.panelstyle">
        <job-card job="jobctrl.jobCard.job" tweakerstyle="jobctrl.tweaker"></job-card>
      </div>

      <div class="joblist layout__nav layout__columns" ng-style="jobctrl.tweaker.panelstyle">
        <job-list jobs="jobctrl.currentList" currentlisttitle="jobctrl.currentListTitle"></job-list>
      </div>

    </div>
  </div>
</div>
