<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        JobStackr
      </a>
    </div>
    <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link" href="/#/signin">Sign In</a>
    </li>
  </ul>
  </div>
</nav>

<div class="fullwidth">
<div class="container">
<div class="row">

<div class="col-md-6 aboutpane">
    <h1>Organization<br />for your<br />Job Search</h1>
    <h4>A tag line here</h4>
</div>

<div class="col-md-4">
  <h2>Sign up</h2>
     <form name="signUp" ng-submit="authctrl.signUp(authctrl.newUser)">
       <input name="input" class="form-control" type="text" ng-model="authctrl.newUser.username" placeholder="username"></br>
       <input name="input" class="form-control" type="password" ng-model="authctrl.newUser.password" placeholder="password"></br>
       <button class="form-control" type="submit">SIGN UP</button>
     </form>
     <br />
      <li ng-repeat="error in authctrl.errors">{{error}}</li>
   </div>

 </div>

</div>
</div>
