.fullwidth{
  padding-top: 65px;
background-color:  #00a087;
height: 400px;
margin-top: 65px;
color: white
}

.navbar-default{
  background-color: white;
  border: none
}

.aboutpane {
  text-align: right;
}


h1 {
  font-size: 50px;
}
