<h5>Job Pipeline</h5>
  <ul>
    <li ng-class="{'active': active == 1 }" ng-click="listClick(backlog, 'Backlog',1)"><span class="titip-right">Backlog ({{backlog.length}}) <tooltip ng-if="tweakerstyle.tooltips" class="titip-content" message="backlog"></tooltip></span></li>
    <li ng-class="{'active': active == 2 }" ng-click="listClick(applied, 'Applied',2)"><span class="titip-right">Applied ({{applied.length}}) <tooltip ng-if="tweakerstyle.tooltips"class="titip-content" message="backlog"></tooltip></span></li>
    <li ng-class="{'active': active == 3 }" ng-click="listClick(inprocess,'In Progress',3)"><span class="titip-right">In Progress ({{inprocess.length}}) <tooltip ng-if="tweakerstyle.tooltips" class="titip-content" message="backlog"></tooltip></span></li>
  </ul>
<hr />
