  <ul>
    <li ng-class="{'active': active == 1 }" ng-click="listClick(backlog, 'Backlog',1)">Backlog ({{backlog.length}})</li>
    <li ng-class="{'active': active == 2 }" ng-click="listClick(today, 'Today',2)">Today ({{today.length}})</li>
    <li ng-class="{'active': active == 3 }" ng-click="listClick(applied, 'Applied',3)">Applied ({{applied.length}})</li>
    <li ng-class="{'active': active == 4 }" ng-click="listClick(inprocess,'In Progress',4)">Inprogress ({{inprocess.length}})</li>
  </ul>
